@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFPRODISPLAYREGULAR.eot");
  src: local("☺"), url("../fonts/SFPRODISPLAYREGULAR.woff") format("woff"), url("../fonts/SFPRODISPLAYREGULAR.ttf") format("truetype"), url("../fonts/SFPRODISPLAYREGULAR.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFPRODISPLAYBOLD.eot");
  src: local("☺"), url("../fonts/SFPRODISPLAYBOLD.woff") format("woff"), url("../fonts/SFPRODISPLAYBOLD.ttf") format("truetype"), url("../fonts/SFPRODISPLAYBOLD.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Age Cyrillic';
  src: url("../fonts/spaceagecyrillicregular.eot");
  src: local("☺"), url("../fonts/spaceagecyrillicregular.woff") format("woff"), url("../fonts/spaceagecyrillicregular.ttf") format("truetype"), url("../fonts/spaceagecyrillicregular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.btn {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 15px 0 16px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.btn:hover {
  background-color: #ffffff21;
}

.header {
  background-image: url("../img/header/background.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header_phone {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-left: auto;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.header_phone:hover {
  color: #CB0E0E;
}

.header__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  margin-right: 134px;
  margin-left: 22px;
  border: none;
  background-color: transparent;
}

.header__content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 600px;
  text-align: center;
}

.header__title {
  font-family: 'Space Age Cyrillic';
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 15px;
}

.header__title span {
  font-size: 110px;
  line-height: 110px;
}

.header__subtitle {
  font-family: 'SF Pro Display';
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 49px;
}

.header__btn {
  width: 100%;
}

.header__description {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__descriptio-text {
  max-width: 165px;
}

.header__descriptio-text:last-child {
  margin-left: 52px;
}

.menu__list {
  list-style: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 30px;
}

.menu__link {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.menu__link:hover {
  color: #CB0E0E;
}

.about {
  background-image: url("../img/about/background.jpg");
  background-position: top center;
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}

.about__inner {
  padding: 100px 0;
}

.about__title {
  font-family: 'Space Age Cyrillic';
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 100px;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px -50px 100px -50px;
}

.about__image {
  margin: 0 50px;
}

.about__description {
  margin: 0 -5px;
}

.description__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 5px;
}

.description__subtitle {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #036CCA;
  margin-bottom: 31px;
}

.description__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 25px;
  margin-bottom: 50px;
}

.description__text {
  margin: 0 25px;
  font-size: 16px;
  line-height: 19px;
}

.description__btn {
  padding: 20px 44px;
  font-size: 18px;
  line-height: 21px;
}

.about__info--modify {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

.about__table-tr {
  border: 1px solid #FFFFFF;
  border-left: none;
  border-right: none;
}

.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
}

.about__table-td {
  padding: 10px 30px 10px 0;
  text-align: center;
}

.about__table-td span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.about__table-caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}

.how {
  background-image: url("../img/how/background.jpg");
  background-position: top center;
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}

.how__inner {
  padding: 100px 0;
}

.how__title {
  font-family: 'Space Age Cyrillic';
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 100px;
}

.how__box {
  text-align: center;
}

.how__box circle, .how__box text, .how__box foreignObject {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  text-align: left;
}

.how__box g:hover circle {
  r: 20px;
  fill: #036CCA;
}

.how__box g:hover text {
  font-size: 22px;
  line-height: 26px;
  fill: #036CCA;
}

.how__box g:hover foreignObject {
  font-size: 22px;
  line-height: 26px;
  color: #036CCA;
}

.booking {
  background-image: url("../img/booking/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.booking__inner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__title {
  font-family: 'Space Age Cyrillic';
  font-size: 48px;
  line-height: 48px;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -25px;
}

.booking__text {
  max-width: 165px;
  margin: 0px 25px;
  font-size: 14px;
  line-height: 17px;
}

.offer__inner {
  padding: 100px 0;
}

.offer__title {
  font-family: 'Space Age Cyrillic';
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 100px;
}

.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -100px;
}

.offer__item {
  margin: 0 100px;
  max-width: 500px;
}

.offer__info {
  padding: 40px 130px;
  border: 1px solid #FFFFFF;
  text-align: center;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.offer__text {
  font-size: 24px;
  line-height: 29px;
}

.offer__text span {
  color: #CB0E0E;
}

.offer__price-old {
  font-size: 14px;
  line-height: 17px;
  position: relative;
  width: 70px;
  height: 20px;
  margin-top: auto;
  margin-bottom: 15px;
  right: -80px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.offer__price-old::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #CB0E0E;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 7px;
  left: 5px;
}

.offer__price {
  width: 270px;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
}

.offer__btn {
  width: 100%;
}

.services {
  background-image: url("../img/services/background.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.services__inner {
  padding: 50px 0px 100px 0px;
}

.services__title {
  font-family: 'Space Age Cyrillic';
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 100px;
}

.services__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__description {
  margin: 0 40px;
}

.services__list-title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.services__list {
  margin-bottom: 25px;
}

.services__item {
  font-size: 24px;
  line-height: 29px;
  padding-left: 30px;
  position: relative;
}

.services__item::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  top: 6px;
  left: 0px;
}

.services__list-subtitle {
  font-size: 12px;
  line-height: 14px;
  color: #E5E5E5;
}

.services__link {
  margin: 0 40px;
  width: 500px;
}

.services__btn {
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
  position: relative;
}

.services__btn:last-child {
  margin-bottom: 0px;
}

.services__btn:first-child::after {
  content: "";
  position: absolute;
  width: 192px;
  height: 150px;
  background-color: transparent;
  background-image: url("../img/services/1.png");
  top: -129px;
  left: 316px;
}

.slider__inner {
  padding: 100px 0px 50px 0px;
}

.slider__box {
  border: 1px solid #E5E5E5;
  padding: 80px 75px;
  text-align: center;
}

.slider__image {
  margin: 0 auto;
}

.slider__description {
  text-align: center;
  font-family: 'Space Age Cyrillic';
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 100;
}

.slider__arrow-prev {
  left: 75px;
}

.slider__arrow-next {
  right: 75px;
}

.contacts {
  background: url("../img/contacts/background.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__inner {
  padding: 100px 0;
  margin: 0 -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__info {
  margin: 0 50px;
  max-width: 510px;
}

.contacts__title {
  font-family: 'Space Age Cyrillic';
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 46px;
}

.contacts__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 90px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__input {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 50px;
  width: 100%;
  background-color: transparent;
  height: 60px;
  padding: 20px 10px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.contacts__input::-webkit-input-placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.contacts__input:-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.contacts__input::-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.contacts__input::placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.contacts__btn {
  width: 100%;
  background-color: transparent;
}

.contacts__varanty {
  margin: 0 50px;
  max-width: 600px;
}

.contacts__image {
  max-width: 396px;
  margin-left: auto;
}

.footer {
  background-image: url("../img/footer/background.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px;
}

.footer__info {
  margin: 0 50px 0 auto;
}

.footer__text {
  margin-bottom: 50px;
  width: 165px;
}

.footer__menu {
  margin: 0 50px;
}

.footer__list {
  list-style: none;
}

.footer__list-item {
  margin-bottom: 20px;
  width: 165px;
}

.footer__list-link {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.footer__list-link:hover {
  color: #CB0E0E;
}

.footer__links {
  margin: 0 50px;
}

.footer__contacts {
  list-style: none;
}

.footer__item {
  margin-bottom: 20px;
  width: 165px;
}

.footer__link {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: color .5s;
  transition: color .5s;
  text-transform: uppercase;
}

.footer__link:hover {
  color: #CB0E0E;
}

@media (max-width: 1024px) {
  .header__login {
    margin-right: 10px;
  }
}

@media (max-width: 900px) {
  .header__top {
    padding: 40px 0;
  }
  .menu__link {
    font-size: 16px;
    line-height: 18px;
  }
  .menu__item {
    margin-right: 15px;
  }
  .header_phone {
    font-size: 16px;
    line-height: 18px;
  }
  .header__content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__description {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 80px;
  }
}

@media (max-width: 720px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_phone {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .header__top {
    padding: 20px 0;
  }
  .header__top .menu {
    margin-bottom: 15px;
  }
  .header__login {
    margin: 0;
  }
  .header__title {
    font-size: 40px;
    line-height: 40px;
  }
  .header__title span {
    font-size: 80px;
    line-height: 80px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 24px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 49px;
  }
  .header__btn {
    width: 85%;
  }
}

@media (max-width: 520px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .menu__item {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .header__subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .header__subtitle-text {
    margin-bottom: 8px;
  }
  .header__btn {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 0;
  }
  .header__title {
    font-size: 30px;
    line-height: 30px;
  }
  .header__title span {
    font-size: 56px;
    line-height: 56px;
  }
}

@media (max-width: 1080px) {
  .about__title {
    text-align: center;
  }
  .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 150px;
  }
  .about__image {
    margin-bottom: 20px;
  }
  .about__table-td {
    padding: 10px 30px 10px 30px;
  }
}

@media (max-width: 815px) {
  .about__table {
    width: 80%;
    margin: 0 auto 50px auto;
  }
  .about__table-td {
    padding: 5px;
  }
  .about__info {
    margin-bottom: 100px;
  }
  .about__image {
    margin: 0px 5px 0px 5px;
    margin-bottom: 20px;
  }
}

@media (max-width: 520px) {
  .about__inner {
    padding: 50px 0;
  }
  .about__title {
    margin-bottom: 50px;
  }
  .description__text {
    margin: 0 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .about__description {
    margin: 0 5px;
  }
  .about__table-tr + .about__table-tr {
    font-size: 18px;
    line-height: 20px;
  }
  .about__image {
    margin: 0px auto;
    margin-bottom: 20px;
    max-width: 90%;
  }
  .about__image .about__image-img {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .about__table {
    display: none;
  }
  .description__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .how__box svg {
    width: 595px;
    height: 469px;
  }
  .how__inner {
    padding: 50px 0;
  }
}

@media (max-width: 650px) {
  .how__box svg {
    width: 382px;
    height: 301px;
  }
  .how__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    text-align: center;
  }
}

@media (max-width: 414px) {
  .how__title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .how__box svg {
    width: 297px;
    height: 235px;
  }
}

@media (max-width: 1024px) {
  .booking__inner {
    padding: 80px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking__title {
    text-align: center;
    margin-bottom: 50px;
  }
  .booking__info {
    margin: 0px 0px 0px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .booking__text {
    max-width: 30%;
  }
}

@media (max-width: 600px) {
  .booking__title {
    font-size: 34px;
    line-height: 42px;
  }
  .booking__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking__text {
    max-width: 90%;
    margin-bottom: 30px;
  }
}

@media (max-width: 414px) {
  .booking__title {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .booking__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking__text {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .offer__items {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer__item {
    margin: 0 10px;
    max-width: 500px;
  }
}

@media (max-width: 1060px) {
  .offer__info {
    padding: 40px 80px;
  }
  .offer__price-old {
    margin-bottom: 12px;
    right: 12px;
  }
}

@media (max-width: 920px) {
  .offer__info {
    padding: 40px;
  }
  .offer__price-old {
    margin-bottom: 12px;
    right: 12px;
  }
}

@media (max-width: 768px) {
  .offer__inner {
    padding: 50px 0;
  }
  .offer__title {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 70px;
  }
  .offer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer__item {
    margin-bottom: 70px;
  }
  .offer__item:last-child {
    margin-bottom: 0;
  }
  .offer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer__price {
    max-width: 270px;
  }
}

@media (max-width: 414px) {
  .offer__info {
    padding: 20px;
  }
  .offer__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 1200px) {
  .services__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0px 50px;
  }
  .services__description {
    margin: 0;
    margin-bottom: 50px;
  }
  .services__btn {
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
    position: relative;
  }
  .services__btn:last-child {
    margin-bottom: 0px;
  }
  .services__btn:first-child::after {
    display: none;
  }
  .services__btn:last-child::after {
    content: "";
    position: absolute;
    width: 192px;
    height: 150px;
    background-color: transparent;
    background-image: url("../img/services/1.png");
    top: -129px;
    left: 316px;
  }
  .services__inner {
    padding: 50px 0px 50px 0px;
  }
  .services__link {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .services__title {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 50px;
    text-align: center;
  }
  .services__link {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .services__title {
    font-size: 32px;
    line-height: 32px;
  }
  .services__link {
    margin: 0 auto;
    max-width: 90%;
  }
  .services__btn:last-child::after {
    display: none;
  }
  .services__list-title {
    font-size: 20px;
    line-height: 24px;
  }
  .services__item {
    font-size: 20px;
    line-height: 24px;
  }
  .services__info {
    padding: 0 20px;
  }
}

@media (max-width: 414px) {
  .services__info {
    padding: 0 10px;
  }
  .services__title {
    font-size: 24px;
    line-height: 24px;
  }
  .services__btn {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .slider__box {
    padding: 50px 35px;
  }
}

@media (max-width: 1100px) {
  .slider__arrow-prev {
    left: 25px;
    max-width: 50px;
    height: 5px;
  }
  .slider__arrow-next {
    right: 25px;
    max-width: 50px;
    height: 5px;
  }
  .slider__item-box {
    max-width: 85%;
    margin: 0 auto;
  }
  .slider__image {
    width: 100%;
  }
  .slider__inner {
    padding: 50px 0;
  }
}

@media (max-width: 700px) {
  .slider__arrow-prev {
    left: 10px;
    max-width: 30px;
  }
  .slider__arrow-next {
    right: 10px;
    max-width: 30px;
  }
  .slider__box {
    padding: 20px 15px;
  }
}

@media (max-width: 520px) {
  .slider__arrow-prev {
    display: none;
  }
  .slider__arrow-next {
    display: none;
  }
  .slider__item-box {
    max-width: 95%;
  }
  .slider__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 860px) {
  .contacts__inner {
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
  }
  .contacts__varanty {
    margin: 0 auto 50px auto;
    max-width: 100%;
  }
  .contacts__info {
    margin: 0 auto 50px auto;
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  .contacts__title {
    font-size: 32px;
    line-height: 32px;
  }
  .contacts__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .contacts__btn {
    font-size: 18px;
    line-height: 24px;
  }
  .contacts__image {
    width: 100%;
    margin-left: auto;
  }
  .contacts__image-img {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .footer__inner {
    padding: 50px 0px;
  }
  .footer__info {
    margin: 0 20px 0 auto;
  }
  .footer__menu {
    margin: 0 20px;
  }
  .footer__links {
    margin: 0 20px;
  }
}

@media (max-width: 640px) {
  .footer__inner {
    padding: 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info {
    margin: 0 auto;
  }
  .footer__menu {
    margin: 0 auto 40px auto;
  }
  .footer__links {
    margin: 0 auto;
  }
}
