@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFPRODISPLAYREGULAR.eot');
	src: local('☺'), url('../fonts/SFPRODISPLAYREGULAR.woff') format('woff'), url('../fonts/SFPRODISPLAYREGULAR.ttf') format('truetype'), url('../fonts/SFPRODISPLAYREGULAR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFPRODISPLAYBOLD.eot');
	src: local('☺'), url('../fonts/SFPRODISPLAYBOLD.woff') format('woff'), url('../fonts/SFPRODISPLAYBOLD.ttf') format('truetype'), url('../fonts/SFPRODISPLAYBOLD.svg') format('svg');
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Space Age Cyrillic';
	src: url('../fonts/spaceagecyrillicregular.eot');
	src: local('☺'), url('../fonts/spaceagecyrillicregular.woff') format('woff'), url('../fonts/spaceagecyrillicregular.ttf') format('truetype'), url('../fonts/spaceagecyrillicregular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}
