//=================================================================
//=========================HEADER==================================
//=================================================================

@media (max-width: 1024px){
    .header__login{
        margin-right: 10px;
    }
}

@media (max-width: 900px){
    .header__top{
        padding: 40px 0;
    }
    .menu__link {
        font-size: 16px;
        line-height: 18px;
    }
    .menu__item {
        margin-right: 15px;
    }
    .header_phone {
        font-size: 16px;
        line-height: 18px;
    }
    .header__content {
        align-self: center;
    }
    .header__description {
        align-self: center;
        margin-bottom: 80px;
    }

}

@media (max-width: 720px){
    .header__top{
        flex-direction: column;
    }
    .header_phone{
        margin-left: 0;
        margin-bottom: 15px;
    }
    .header__top{
        padding: 20px 0;
    }
    .header__top .menu{
        margin-bottom: 15px;
    }
    .header__login {
    margin: 0;
    }
    .header__title {
        font-size: 40px;
        line-height: 40px;
    }
    .header__title span {
        font-size: 80px;
        line-height: 80px;
    }
    .header__subtitle {
    font-size: 18px;
    line-height: 24px;
    justify-content: space-around;
    margin-bottom: 49px;
    }
    .header__btn {
    width: 85%;
    }
}

@media (max-width: 520px){
    .menu__list {
        flex-direction: column;
        text-align: center;
    }
    .menu__item{
        margin-right: 0;
        margin-bottom: 5px;
    }
    .header__subtitle {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .header__subtitle-text{
        margin-bottom: 8px;
    }
    .header__btn {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 0;
    }
    .header__title {
    font-size: 30px;
    line-height: 30px;
    }
    .header__title span {
    font-size: 56px;
    line-height: 56px;
    }
}

//=================================================================
//==========================ABOUT==================================
//=================================================================

@media (max-width: 1080px){
    .about__title{
        text-align: center;
    }
    .about__info{
        flex-direction: column;
        text-align: center;
        margin-bottom: 150px;
    }
    .about__image{
        margin-bottom: 20px;
    }
    
    .about__table-td {
        padding: 10px 30px 10px 30px;
    }
}

@media (max-width: 815px){
.about__table {
    width: 80%;
    margin: 0 auto 50px auto;
}
.about__table-td {
        padding: 5px;
    }
.about__info{
    margin-bottom: 100px;
}
.about__image{
    margin: 0px 5px 0px 5px;
    margin-bottom: 20px;
}
}


@media (max-width: 520px){
.about__inner {
    padding: 50px 0;
}
.about__title{
    margin-bottom: 50px;
}
.description__text{
    margin: 0 10px;
    font-size: 14px;
    line-height: 18px;
}
.about__description {
    margin: 0 5px;
}

    .about{
        &__table-tr + &__table-tr {
                font-size: 18px;
                line-height: 20px;
		}
    }
.about__image{
    margin: 0px auto;
    margin-bottom: 20px;
    max-width: 90%;
    .about__image-img{
        width: 100%;
    }
}
}

@media (max-width: 414px){
    .about__table {
    display: none;
}
.description__info{
    flex-wrap: wrap;
}
.description__text {
margin-bottom: 20px;
}
}

//=================================================================
//=============================HOW=================================
//=================================================================


@media (max-width: 850px){
    .how__box svg{
        width: 595px;
        height: 469px;
    }
    .how__inner {
    padding: 50px 0;
    }

}

@media (max-width: 650px){
    .how__box svg{
        width: 382px;
        height: 301px;
    }
    .how__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    text-align: center;
    }
}

@media (max-width: 414px){
    .how__title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 50px;
    }
        .how__box svg{
        width: 297px;
        height: 235px;
    }

}

//=================================================================
//==============================BOOKING============================
//=================================================================

@media (max-width: 1024px){

    .booking__inner {
        padding: 80px 0;
        flex-direction: column;
    }
    .booking__title{
        text-align: center;
        margin-bottom: 50px;
    }
    .booking__info{
        margin: 0px 0px 0px 0px;
        justify-content: space-around;
    }
    .booking__text{
        max-width: 30%;
    }
}

@media (max-width: 600px){
    .booking__title{
        font-size: 34px;
        line-height: 42px;
    }
    .booking__info{
        flex-direction: column;
    }
        .booking__text{
        max-width: 90%;
        margin-bottom: 30px;
    }

}

@media (max-width: 414px){
    .booking__title{
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 30px;
    }
    .booking__info{
        flex-direction: column;
    }
        .booking__text{
        max-width: 90%;
        margin-bottom: 20px;
    }
}

//=================================================================
//========================SERVICES=================================
//=================================================================

@media (max-width: 1200px){
    .offer__items {
    margin: 0;
    justify-content: space-between;
    }

    .offer__item {
        margin: 0 10px;
        max-width: 500px;

    }
}

@media (max-width: 1060px){
    .offer__info {
    padding: 40px 80px;
    }
    .offer__price-old {
    margin-bottom: 12px;
    right: 12px;

    }
}

@media (max-width: 920px){
    .offer__info {
    padding: 40px;
    }
    .offer__price-old {
    margin-bottom: 12px;
    right: 12px;

    }
}

@media (max-width: 768px){
    .offer__inner {
    padding: 50px 0;
    }
    .offer__title{
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 70px;
    }
    .offer__items{
        flex-direction: column;
        align-items: center;
    }
    .offer__item{
        margin-bottom: 70px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .offer__info{
        align-items: center;
    }
    .offer__price {
        max-width: 270px;
    }

}

@media (max-width: 414px){
    .offer__info {
    padding: 20px;
    }
    .offer__title{
        font-size: 30px;
        line-height: 30px;
    }
}

//=================================================================

@media (max-width: 1200px){
    .services__info{
        flex-direction: column;
        margin: 0;
        padding: 0px 50px;
    }
    .services__description{
        margin: 0;
        margin-bottom: 50px;
    }
    .services__btn {
            width: 100%;
            padding: 20px 0;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 50px;
            position: relative;
            &:last-child{
                    margin-bottom: 0px;
            }
            &:first-child::after{
                display: none;
            }
            &:last-child::after{
                    content: "";
                    position: absolute;
                    width: 192px;
                    height: 150px;
                    background-color: transparent;
                    background-image: url("../img/services/1.png");
                    top: -129px;
                    left: 316px;
            }
		}
        
        .services__inner {
            padding: 50px 0px 50px 0px;
        }
        .services__link{
            margin: 0;
        }
}

@media (max-width: 768px){
    .services__title {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 50px;
    text-align: center;
    }
    .services__link{
            margin: 0 auto;
        }

}

@media (max-width: 600px){
    .services__title {
    font-size: 32px;
    line-height: 32px;
    }
    .services__link{
            margin: 0 auto;
            max-width: 90%;
        }
    .services__btn:last-child::after{
                display: none;
            }

    .services__list-title {
    font-size: 20px;
    line-height: 24px;
    }
    .services__item {
    font-size: 20px;
    line-height: 24px;
    }
    .services__info{
        padding: 0 20px;
    }
}

@media (max-width: 414px){
    .services__info{
        padding: 0 10px;
    }
    .services__title {
        font-size: 24px;
        line-height: 24px;
    }
    .services__btn{
        font-size: 14px;
    }
}

//=================================================================

@media (max-width: 1200px){
.slider__box {
    padding: 50px 35px;
}
}

@media (max-width: 1100px){
    .slider__arrow-prev {
        left: 25px;
        max-width: 50px;
        height: 5px;
    }
    .slider__arrow-next {
        right: 25px;
        max-width: 50px;
        height: 5px;
    }
    .slider__item-box{
        max-width: 85%;
        margin: 0 auto;
    }
    .slider__image{
        width: 100%;
    }
    .slider__inner {
        padding: 50px 0;
    }
}

@media (max-width: 700px){
    .slider__arrow-prev {
        left: 10px;
        max-width: 30px;
    }
    .slider__arrow-next {
        right: 10px;
        max-width: 30px;
    }
    .slider__box {
    padding: 20px 15px;
    }

}

@media (max-width: 520px){
    .slider__arrow-prev {
        display: none;
    }
    .slider__arrow-next {
        display: none;
    }
    .slider__item-box{
        max-width: 95%;
    }
    .slider__description{
        font-size: 16px;
        line-height: 24px;
    }

}
//=================================================================
//=========================CONTACTS================================
//=================================================================

@media (max-width: 860px){
    .contacts__inner {
        padding: 50px 0;
        flex-direction: column-reverse;
        text-align: center;
        margin: 0 auto;
    }
    
    .contacts__varanty {
        margin: 0 auto 50px auto;
        max-width: 100%;
    }
    .contacts__info{
        margin: 0 auto 50px auto;
        max-width: 100%;
    }

}

@media (max-width: 520px){
    .contacts__title{
    font-size: 32px;
    line-height: 32px;
    }

    .contacts__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
    }
    .contacts__btn{
    font-size: 18px;
    line-height: 24px;
    }
    .contacts__image {
    
    width: 100%;
    margin-left: auto;
    }
    .contacts__image-img{
    max-width: 100%;
    }
}


//=================================================================
//==========================FOOTER=================================
//=================================================================

@media (max-width: 800px){
    .footer__inner {
    padding: 50px 0px;
    }
    .footer__info {
    margin: 0 20px 0 auto;
    }
    .footer__menu {
        margin: 0 20px;
    }
    .footer__links {
        margin: 0 20px;
    }
}

@media (max-width: 640px){
    .footer__inner {
        padding: 20px 0px;
        flex-direction: column;
    }
    .footer__info {
        margin: 0 auto;
    }
    .footer__menu {
        margin: 0 auto 40px auto;
    }
    .footer__links {
        margin: 0 auto;
    }
}